.white-text-quote {
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
  }
  
  .tithely-give-btn:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  
  .frame {
      text-align: center;
  }