html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/38023472_280711366023993_8002435743681085440_n.jpg?_nc_cat=109&oh=dfba3532fa7a60ea23bdd217a647c953&oe=5C1EE997")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background: transparent;
    background-color: transparent;
    border-color: transparent;
}

.top-nav-collapse {
    background-color: #9933CC;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #9933CC;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #9933CC;
    }
  }