html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("/img/pastorBlue.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 4rem;
}

.navbar {
    background: transparent;
    background-color: transparent;
    border-color: transparent;
}

.top-nav-collapse {
    background-color: #9933CC
    ;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #9933CC
      ;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #9933CC
      ;
    }
  }

.white-text-quote {
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
}

.link {
  color: #9933CC;
  text-decoration: none;
  font-weight: bold;
}